.banner-text-heading {
  font-size: 4rem;
}

.banner-btn:hover {
  color: #ff7433;
}
.contact-btn {
  background-color: #ff7433;
}
.contact-btn:hover {
  cursor: pointer;
  background-color: #bd4f20;
}

.banner-img {
  background-image: url("./assets/cap.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
}

.bg-change {
  background-color: rgba(0, 0, 0, 0.1);
  height: 100%;
}

.banner-content {
  margin-top: 10rem;
  font-size: 2.5rem;
  color: white;
  font-weight: 300;
}

.heroImage {
  background-image: url("https://primeconstruction.s3.ap-south-1.amazonaws.com/HeroSection/hero1.jpg");
  /* background-image: url("https://images.unsplash.com/photo-1556718537-5bbbe0ca0b67?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 600px;
  height: 500px;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 8rem;
  clip-path: polygon(17% 0, 100% 0, 100% 100%, 0 100%, 0 17%);
  z-index: 4;
}

.heroImage2 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  margin-top: 18rem;
  margin-right: 30rem;
  width: 200px;
  height: 250px;
  top: 0;
  right: 0;
  clip-path: polygon(21% 0, 100% 0, 100% 100%, 0 100%, 0 21%);
  background-image: url("https://primeconstruction.s3.ap-south-1.amazonaws.com/HeroSection/hero2.jpg");
  z-index: 5;
}

.service-img {
  /* background-image: url("https://images.unsplash.com/photo-1564182842519-8a3b2af3e228?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=465&q=80"); */
  background-image: url("https://images.unsplash.com/photo-1564182842519-8a3b2af3e228?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=465&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  min-width: 350px;
}

.btn-quote {
  border: 2px solid black;
  display: inline-block;
  padding: 4rem 2rem;
  font-size: 0.6rem;
  text-align: center;
}

.gallery-text {
  font-size: 2rem;
}

.gallery-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-links {
  display: flex;
  justify-content: space-around;
  margin: 0 8rem;
  padding: 2rem;
}

.contact-link-icon {
  text-decoration: none;
}

.contact-link-icon:hover {
  background-color: #fff;
  border-radius: 5px;
  color: black;
  cursor: pointer;
}

@media (min-width: 1200px) {
  .banner {
    height: 100vh;
  }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .heroImage {
    width: 500px;
    height: 400px;
    margin-top: 12rem;
  }
  .heroImage2 {
    width: 150px;
    height: 200px;
    margin-top: 22rem;
    margin-right: 25rem;
  }
  .banner-text-heading {
    font-size: 4rem;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .heroImage {
    display: none;
  }
  .heroImage2 {
    display: none;
  }
  .banner-text-heading {
    font-size: 4rem;
  }
  .gallery-text {
    font-size: 1.7rem;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 768px) {
  .contact-nav-btn {
    margin-top: 15px;
  }
  .nav-logo {
    width: 70px;
    height: 70px;
  }

  .service {
    display: block;
  }

  .contact-links {
    margin: 0 4rem;
  }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
  .banner-text-heading {
    font-size: 3.4rem;
    padding-top: 3.5rem;
  }

  .service-img {
    height: 500px;
    min-width: 350px;
  }

  .nav-logo {
    width: 60px;
    height: 60px;
  }
  .gallery-text {
    font-size: 1.5rem;
  }

  .contact-links {
    display: block;
    padding: 0;
  }
  .contact-form {
    display: block;
  }
}

/* The smallest */
@media (max-width: 330px) {
  .banner-text-heading {
    font-size: 2.5rem;
  }
  .service-img {
    height: 400px;
    min-width: 150px;
  }
  .gallery-text {
    font-size: 1.5rem;
  }
  .contact-form {
    display: block;
  }
}
